* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

body {
    background-color: #f4f7f6;
    display: flex;
    justify-content: center;
    padding-top: 50px;
}

.container {
    width: 90%;
    max-width: 450px;
}

header {
    text-align: center;
    margin-bottom: 30px;
}

header h1 { color: #2c3e50; font-size: 1.8rem; }
header p { color: #7f8c8d; font-size: 1.1rem; }

.card {
    background: white;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

#subjects-list {
    list-style: none;
    margin-top: 15px;
}

.subject-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 0;
    border-bottom: 1px solid #eee;
}
/* L'arrière-plan qui assombrit le reste de l'appli */
.overlay {
    display: none; /* CACHÉ PAR DÉFAUT */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); /* Noir transparent à 70% */
    z-index: 999; /* S'assure d'être au-dessus de tout */
}

/* La boîte blanche centrale */
.fenetre-contenu {
    background-color: white;
    width: 85%;
    max-width: 350px;
    margin: 20% auto; /* Place la boîte au milieu */
    padding: 20px;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0px 5px 15px rgba(0,0,0,0.3);
}

.btn-confirm {
    background-color: #3498db;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 6px;
    font-weight: bold;
}

.done {
    text-decoration: line-through;
    color: #bdc3c7;
}
